<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <script>
        function goBack() {
            window.history.back(-1);
        }
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${recipe}" th:action="@{/recipes/save}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1 class="panel-title">Edit Recipe Information</h1>
                                </div>
                                <div class="col-md-2">
                                    <a th:href="@{'/recipes/show/' + ${recipe.id} + '/image/'}"
                                       class="btn btn-success pull-right" th:disabled="${recipe.id eq null}">Image</a>
                                </div>
                             </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="checkbox">
                                        <ul>
                                            <li th:each="category : ${categories}">
                                                <input type="checkbox" name="categories" th:value="${category.getId()}"/>
                                                <label th:text="${category.getCategoryName()}"></label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficulty :
                                        ${T(com.springframework.recipeapp.model.Difficulty).values()}"
                                        th:value="${difficulty}" th:text="${difficulty.displayValue}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('source')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('source')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                                <div class="col-md-1">
                                    <a th:href="@{'/recipes/show/' + ${recipe.id} + '/ingredients'}"
                                       class="btn btn-success pull-right" th:disabled="${recipe.id eq null}">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getUom() +
                                        ' - ' + ingredient.getDescription())}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="5" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="5" th:field="*{notes.note}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-left">Submit</button>
                <button type="reset" class="btn btn-primary pull-right" style="margin-left: 10px">Reset Form</button>
                <a class="btn btn-info pull-right" data-role="button" data-inline="true" th:href="@{/recipes}" data-rel="back">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>